@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Client

    <h1>Welcome Claire's Hair Salon organizer!</h1>
    <p>You can first add a hair stylist and add their own clients</p>
    
    <p>@Html.ActionLink("Search by Stylist or Client", "ShowSearch", "Clients")</p>
    <p>@Html.ActionLink("See all clients", "Index", "Clients")</p>
    <p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>