@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Client;

<h1>Welcome to Eau Claire's hair salon organizer!</h1>
<p>You can first add a hair stylist and add their own clients</p>

<p>@Html.ActionLink("Search by Stylist or Client", "ShowSearch", "Client")</p>
<p>@Html.ActionLink("See all clients", "Index", "Client")</p>
<p>@Html.ActionLink("See all stylists", "Index", "Stylist")</p>